<h1>Thank you for contacting IMatchHearts!</h1>
<p>You are important to us. A specialist will reach out via email as soon as possible</p>

{{#each messages}}
<p>{{fullname}}</p>
<p>{{email}}</p>
<p>{{message}}</p>
<small>{{date}}</small>
<hr>
{{else}}
<p>No messages...</p>
{{/each}}
<a href="/contact"><button class="btn btn-success">Send Another Message!</button></a>